@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 45px;
}

button {
    display: block;
    margin: 30px auto 0 auto;
    width: 120px;
    height: 45px;
    background-color: #04D976;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.312);
}


main {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
}


img {
    width: 350px;
    margin: 8px;
    border-radius: 10px;
}

img:hover {
    /*border: solid 5px #04D976;*/
    box-shadow: 0 0 10px 6px  #04D976;
}

img[alt]:not([alt="Mapa-Ascent"]):hover {
    content: 'Ascent';
    color: #04D976;
    background-color: #04D976;
    font-size: 100px;
}

div {
    position: relative;
}

.nomeMapa {
    display: none;
    position: relative;
}

div:hover .nomeMapa{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #314259;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.505);
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-weight: 600;
    text-align: center;
}

/*

se for selecionado
    position: absolute;
    display: block;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/