@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/*
background cores #2F2325,#8E5D52
*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Sarala', sans-serif;

}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #2F2325, #8E5D52);
}
div#menu > img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#burguer {
    color: white;
    background-color: #6f4941;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: #65423a;

}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    padding: 10px;
    background-color: #65423a;
    color: white;
    text-align: center;
    border-top: 1px solid #6f4941;
}

nav > ul > li > a:hover{
    background-color: rgb(27, 106, 176);
}


footer{
    text-align: center;
}