@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/*
background cores #2F2325,#8E5D52
*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
    color: white;
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #2F2325, #8E5D52);
}
div#menu > img {
    display: inline-block;
    margin: auto;
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.material-icons{
    
}

#burguer {
    color: white;
    background-color: #65423a;
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: 200px;
    width: 200px;
    cursor: pointer;
    position: relative;
    left: 33%;

    font-size: 50px;
}

#burguer:hover {
    background-color: #603f38;

}

nav {
    display: none;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li > a {
    display: block;
    padding: 10px;
    background-color: #65423a;
    color: white;
    text-align: center;
    border-top: 1px solid #6f4941;
}

nav > ul > li > a:hover{
    background-color: #603f38;
}

main  {
    text-align: center;
}

main > div > h1 {
    font-size: 2.5em;
    margin: 10px 0px 5px 0px;
}

input {
    background-color: #ECD6C4;
    border: none;
    color: black;
    padding: 10px 15px 10px 15px;
    border-radius: 12px;
    margin-top: 25px;
}

main > div#div2 > h2 {
    font-size: 1.8em;
    margin-top: 5px;
    margin-bottom: 15px;
}

main * > p {
    font-size: 1.1em;
} 

div#div2 > p {
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
}

footer > div#divFooter {
    height: 3px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.475), 15%, transparent);
}

footer > img {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer{
    margin-top: 30px;
    text-align: center;
}