@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #F0F8FF;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

header {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

header > h1 {
    color: #380B61;
    padding-top: 30px;
}

header > h2 {
    font-weight: normal;
    color: #380B61;
}

main{
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 500px;
}

h3 {
    color: #380B61;
}
label {
    color: #380B61;

}

form {
    margin-left: 60px;
}

section > h3{
    display: inline-block;
}

#nome {
    padding-bottom: 5px;
    
}

#inome {
    padding-right: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.289);

}

#sobrenome {
    margin-left: 127px;
}


#isobrenome {
    margin-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.289);

}


section > #email {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

#iemail{
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.289);

}

#area {
    margin-bottom: 15px;
}

#area > *{
    margin-bottom: 5px;
}

select{
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0.7px solid rgba(0, 0, 0, 0.398);
    height: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.289);
}


fieldset#tecnologias {
    margin-top: 10px;
    margin-bottom: 15px;
}

#imais {
    margin-top: 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.32);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.289);

}

#submit {
    display: block;
    margin: 0 auto;
    color: white;
    margin-top: 10px;
    padding: 5px 10px 20px 10px;
    background-color: rgba(167, 17, 175, 0.712);
    border-radius: 5px;
}

input{
    border: 1px inset rgba(0, 0, 0, 0.265);
    height: 20px;
    border-radius: 5px;

}