@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;

}

body {
    background: var(--background);
    background-attachment: fixed;
}

#fotoTopo {
    display: block;
    width: 90px;
    height: 80px;
    margin: auto;
    margin-top: 20px;
}

h1 {
    color: var(--title);
    text-align: center;
    padding: 0 15px;
    margin-top: 25px;
}

#filme {
    display: none;
}

img#fotoFilme {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 171px;
    height: 245px;
}


#tituloFilme {
    color: var(--title);
    font-size: 1.2em;
    text-align: center;
    margin-top: 15px;
}

p#sinopse {
    color: var(--subtitle);
    font-size: 0.85em;
    font-weight: 500;
    padding: 0 30px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 350px;
}

button {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 160px;
    height: 42px;
    border-radius: 6px;
    background-color: var(--bg-button);
    font-weight: 600;
    cursor: pointer;
}

button > img {
    vertical-align: middle;
    height: 22px;
    width: 28px;
    margin-right: 5px;
}

footer {
    margin: 20px;
    text-align: center;
    color: var(--subtitle);
    text-align: center;
    font-weight: 400;
    font-size: 0.85em;
}