@charset "UTF-8";

@media screen and (min-width: 600px){

    div#container {
        width: 80vw;
        height: 300px;
    }
    section > img{
        float: left;
        width: 30%;
        height: 300px;
    }
    div > h1, p{
        float: right;
        width: 70%;
    }
}