@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #693DBF;
    /*background-image: linear-gradient(to bottom, #693DBF, #7D49E6, #AF3FFA);*/
}

div#container {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 490px;
    border-radius: 20px;
    box-shadow: 4px -4px 15px rgba(0, 0, 0, 0.552);
}

img {
    height: 190px;
    width: 250.3px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}


h1 {
    text-align: center;
    padding: 10px 0px 5px 0px;
    font-size: 1.6em;
}

p {
    padding: 7px;
    font-size: 0.80em;
    line-height: 17px;
}

span{
    display: inline-flex;
    margin-top: 10px;
}

input{
    margin: auto;
    margin-bottom: 5px;
    height: 30px;
    width: 210px;
    border-radius: 7px;
}

#divemail{
    text-align: center;
    background-color: #693DBF;
    padding: 2px 0px 0px 0px;
    width: 215px;
    height: 35px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 5px;
}

#person {
    margin: auto;
    vertical-align: middle;
    background-color: #693DBF;
    color: white;
    margin: 2px 5px 0px 10px;
}

#iemail{
    width: 160px;
    border-color: #693DBF;

}

#divpassword{
    text-align: center;
    background-color: #693DBF;
    padding: 2px 0px 0px 0px;
    width: 215px;
    height: 35px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 5px;
}

#key {
    margin: auto;
    vertical-align: middle;
    background-color: #693DBF;
    color: white;
    margin: 2px 5px 0px 10px;
}

#ipassword{
    width: 160px;
    border-color: #693DBF;

}

.receber {
    background-color: #3ff7fae7;
    width: 20px;
}

.submit {
    width: 215px;
    display: block;
    margin: auto;
}

#submit{
    background-color: #693DBF;
    border-width: 0px;
    margin-bottom: 5px;
    color: white;
}

#submit:hover{
    background-color: #472d81;
}

#esqueci{
    border-color: #693DBF;
    border-width: 2px;
    border-style: solid;
}

#esqueci:hover {
    background-color: #885ae3;
}