@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    /*background: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);*/
    background-attachment: fixed;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #000000;
}

main {
    height: 600px;
    width: 290px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffff;
    border-radius: 25px;
    overflow: hidden;
}

div#parte1 {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}


#slider {
    cursor: pointer;
    background-color: #a9dcfd;
    width: 85px;
    height: 32px;
    border-radius: 30px;
    position: relative;
    transition: all 300ms ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#slider > img {
    width: 25px;
    height: 23px;
    z-index: 1;
}

#sol {
    position: relative;
    left: 2px;
}

#sol ~ img {
    position: relative;
    right: 2px;
}

#button {
    background-color: #d8eeff;
    width: 41px;
    height: 27px;
    border-radius: 25px;
    pointer-events: none;
    top: 3px;
    left: 3px;
    position: absolute;
    transition: all 300ms ease-in-out;
}

#checkbox:checked ~ #slider > #button {
    background-color: #003561;
    left: 40px;
}

#checkbox:checked ~ #slider {
    background-color: #1b6a9c;
}

#checkbox {
    display: none;
}

#button > img {
    vertical-align: middle;
    width: 30px;
    height: 20px;
}

#historico {
    background-color: transparent;
    height: 35px;
    width: 35px;
}
#historico > img {
    height: 35px;
    width: 35px;
}

#divNone {
    height: 35px;
    width: 35px;
}

#divResultado {
    display: flex;
    justify-content: space-between;
    width: 200px; 
    margin: auto;  
}

#parte2{
    position: relative;
    top: 21%;
}

#teclado {
    margin: auto;
    background:#6496c5;
    height: 350px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}