@charset "UTF-8";

@media screen and (min-width: 600px){

    section#login {
        width: 80vw;
        height: 280px;
    }
    section#login > div#img{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }
}