@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
}
body {
    background-color: #693DBF;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;

    transform: translate(-50%, -50%);
}

#img {
    display: block;
    background-image: url(../imagens/pexels-bruno-thethe-3035998-celular.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

main > section#login > div#formulario > h1 {
    display: block;
    padding-top: 10px;
    text-align: center;
}

main > section#login > div#formulario > p {
    display: block;
    padding: 10px;
    font-size: 0.8em;
}

.campo {
    background-color: #693DBF;
    height: 39px;
    text-align: center;
    width: 90%;
    margin: 8px auto;
    border-radius: 10px;

}

label {
    display: none;
}

.campo > input {
    background-color: rgb(128, 228, 233);
    height: 36px;
    margin-top: 2px;
    padding-right: 20px;
    border-radius: 10px;
}

.material-icons {
    color: white;
    padding-right: 10px;
    vertical-align: bottom;
}

#entrar {

}

#esqueci {
    display: block;
}