@charset "UTF-8";

@media only screen and (min-width: 900px) {
    #foguete {
        position: relative;
        float: right;
        top: 50%;
        transform: translateY(-50%);      
        margin-right: 10%;
        background-size: 364px 344px;
        width: 365px;
        height: 345px;

    }
    main {
        position: relative;
        float: left;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10%;
    }
}

@media only screen and (min-width: 1150px) {
    #foguete { 
        margin-right: 18%;
    }
    main {
        margin-left: 18%;
    }
}